{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% if form is defined %}
        {{ form(form) }}
    {% endif %}

    {% if name is defined %}
        {% if name != '' %}
            <h1>Hello {{ name }}! ✅</h1>
        {% endif %}
    {% endif %}

    {%  if city is defined %}
        <h2>The city is {{ city|capitalize }}</h2>
    {% endif %}

    {% if contacts is defined %}
        {% if contacts is not empty %}
            <nav>
            {% for contact in contacts %}

                <li><a href="{{ contact.id }}">{{ contact.name }} {{ contact.firstName }}</a></li>
            {% endfor %}
            </nav>
            <p>---------------------------------------------------------------------------------------------------</p>
        {% endif %}
    {% endif %}

    <nav>
        <li><a href= {{ path('contact') }}>Contact</a></li>
        <li><a href= {{ path('contact', {name : 'Antoine'}) }}>Contact de Antoine</a></li>
        <li><a href= {{ path('contactCity', {city : 'montpellier'}) }}>Contact de Montpellier</a></li>
        <li><a href= {{ path('contactCity', {city : 'montpellier', name : 'Stéphane'}) }}>Contact de Stéphane de Montpellier</a></li>
        <li><a href= {{ path('contactId', {id : 1}) }}>Contact de id 1</a></li>
    </nav>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/wamp64/www/php_projects/blog-1/src/Controller/ContactController.php'|file_link(0) }}">src/Controller/ContactController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/wamp64/www/php_projects/blog-1/templates/contact/index.html.twig'|file_link(0) }}">templates/contact/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
